<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-right">
      <a class="navbar-brand navbar-right">Lost And Found</a>
    </div>

   
    <div class="collapse navbar-collapse">
     
      <%= form_tag("/items/search/", method: "get", :class => "navbar-form navbar-left", :role => "search") do %>
    
        <div class="form-group">
          
          <%= label_tag(:query, "Search For Items") %>
          <%= text_field_tag :query, params[:query] %>
          <%= select_tag :andOr, options_for_select([ "AND", "OR" ])%>
          <%= select_tag :type_id, options_from_collection_for_select(Type.all, :id, :title)%>
          <%= submit_tag "Search", :name => nil%>
          <% end %>
  
        </div>
     
      </form>
      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="page-header">
  <h1>Listing Items 
</div>



  <table class="table">
      <th>Title</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Type</th>
      <th>Options</th>
      <th></th>
      <th></th>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.owner %></td>
        <td><%= Type.find(item.type_id).title %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
</table>

<h3>
<%= link_to 'New Item', new_item_path %>
</h3>
