
 <h2>Search Results</h2>



  <tbody>

<table class="table">
      <th>Title</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Type</th>
      <th>Options</th>
      <th></th>
      <th></th>
    <% @search_items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.owner %></td>
        <td><%= Type.find(item.type_id).title %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>
<%= link_to 'Back To Search', items_path %>
</h3
